* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
}
html{
    background: url('images/head-tent.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color-burn;
    height: 100%;
    overflow: hidden;
    
}
body{
    color: #FFBA01;
}
.header{
    height: 30%;
    min-height: 300px;
    margin: 0;
}
.title{
    color: #FFBA01;
    padding-top: 20%;
    margin: auto 20% auto 20%;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px #252F3A;
}
.search-bar, .trl-btn{
    color: #FFBA01;
    display: block;
    width: 80%;
    height: 25px;
    margin: 5% auto 0 auto;
    border: 1px solid #FFBA01;
    border-radius: 3px;
}
.search-bar{
    background: transparent;
}
.trl-btn{
    background-color: #CDB5B4;
}
input::placeholder{
    background: transparent;
    color: #FFBA01;
}
.summary{
    max-width: 75%;
    margin: 5% auto 0% auto;
    text-shadow: 1px 2px #252F3A;
    mix-blend-mode: lighten;
}
main{
    width: 80%;
    margin: 0 auto;
}
.list-container{
    background: #FFBA01;
    opacity: 85%;
    border-radius: 5px;
}
ul{
    list-style: none;
}
li{
    border: 2px solid #CDB5B4;
}
.park-list{
    margin: 2% auto;
    list-style: none;
}
.park-item{
    padding: 2%;
}
.park-box p{
    text-align: center;
}
a{
    text-align: center;
    color: inherit;
    text-decoration: inherit;
    margin: 0 auto;
}
 .trl-btn, input[type="submit"]{
    display: block;
    width: 80%;
    height: 25px;
    margin: 5px auto 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
}
h2, h3{
    text-align: center;
    padding: 2%;
    color: #252F3A;
}
.hidden{
    display: none;
}
.js-trail-list{
    margin: 2% auto;
    max-width: 600px;
}
.js-trail-summary{
    text-align: center;
}
.trail-name{
    font-weight: bold;
}
.trail-item {
    margin-top: 2%;
    padding: 2%;
    border: 2px solid #252F3A;
}
.trail-item *{
    display: inline-block;
}
.cta * {
margin-bottom: 5%;
}