*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
}
html{
    background: url('images/head-tent.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color-burn;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
body{
    color: #ffffff;
}
.header{
    height: 30%;
    min-height: 300px;
    margin: 0;
}
.title{
    color: #fff;
    padding-top: 15%;
    margin: auto 20% auto 20%;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px #252F3A;
}
.search-bar, .trl-btn{
    color: #fff;
    display: block;
    width: 80%;
    max-width: 400px;
    height: 30px;
    margin: 10px auto 0 auto;
    border: 2px solid #fff;
    border-radius: 3px;
}
.search-bar{
    background: transparent;
}
.search-bar:hover{
    color: #000;
    background-color: #FFBA01;
}
.trl-btn{
    border: none;
    background-color: #FFBA01;
    color: #000;
}
input::placeholder{
    text-align: center;
    background: transparent;
    color: white;
}
input::placeholder:focus{
    columns: #000;
}
input:focus{
    color: #000;
    border: 1px solid #FFBA01;
    background: #FFBA01;
}
.summary{
    max-width: 420px;
    margin: 20px auto 0% auto;
    text-shadow: 1px 2px #252F3A;
    mix-blend-mode: lighten;
}
main{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style: none;
    overflow: hidden; 
    overflow-y: scroll;
}
li{
    border: 2px solid transparent;
}
#results {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.park-list{
    margin: 0 auto;
    list-style: none;
}
.park-item{
    padding: 2%;
}
.park-box{
    background: rgba(255,255,255,0.6);
    width: 80%;
    margin: 2%;
    padding: 5%;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
}
.park-box a{
    color: #000;
    text-decoration: inherit;
    margin: 0 auto;
}
 .trl-btn, input[type="submit"]{
    display: block;
    width: 80%;
    height: 25px;
    margin: 5px auto 0 auto;
}
h2, h3{
    text-align: center;
    padding: 2%;
}
h3{
    color: #000;
}
.hidden{
    display: none;
}
.trail-box{
    color: #000;
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    margin: 2% auto;
}
.js-trail-summary{
    text-align: center;
}
.trail-name{
    font-weight: bold;
}
.trail-item{
    margin-top: 2%;
    padding: 2%;
    border: 2px solid #252F3A;
}
.trail-item *{
    display: inline-block;
}
.cta *{
margin-bottom: 5%;
}
@media screen and (max-width: 600px) {
  #results {
    flex-direction: row;
    }
  .park-box{
    width: 40%;
    height: 150px;
    margin: 5%;
    }
}